############
# Runflare / Pasteur — استک کامل Supabase (Kong:8000)
# این مقادیر را در پنل Runflare هم کپی کنید
############

POSTGRES_PASSWORD=QJSvQXW7TfwsHNdc6wGVw1F4
POSTGRES_DB=postgres
JWT_SECRET=44c525b817b317702868c626c150d91c8dfad67cdd6b6ae0d008a213000bc3f6
JWT_EXPIRY=3600
ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNjQxNzY5MjAwLCJleHAiOjE5ODA5NjYwMDB9.6LDzhWwsXYabPo7AzXbHfIcFyW2w_ZA2yyV6A-tgyeE
SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE2NDE3NjkyMDAsImV4cCI6MTk4MDk2NjAwMH0.Vg38yIUZ1kbG7HIvqteDIoZVYjV9vaOv3UQzr3sV35k
PG_META_CRYPTO_KEY=dd6f1037fbe6127ccbff3e8d588180057535991c148e5b44

DASHBOARD_USERNAME=supabase
DASHBOARD_PASSWORD=ChangeThisDashboardPass123

############
# دامنه عمومی — باید به Kong پورت 8000 اشاره کند
############
SUPABASE_PUBLIC_URL=https://supabase.pasteur.plus
API_EXTERNAL_URL=https://supabase.pasteur.plus
SITE_URL=https://pasteur.plus
ADDITIONAL_REDIRECT_URLS=https://pasteur.plus/**,https://www.pasteur.plus/**

KONG_HTTP_PORT=8000
ENABLE_EMAIL_AUTOCONFIRM=true
DISABLE_SIGNUP=false
PGRST_DB_SCHEMAS=public,storage,graphql_public

STUDIO_DEFAULT_ORGANIZATION=Pasteur
STUDIO_DEFAULT_PROJECT=pasteurplus
